[user]
username = 1234
password = 3456

[postgresql]

[bidding]
# sql is a multiple line value, per the following link,Values can also span multiple lines, as long as they are indented deeper than the first line of the value. 
# https://docs.python.org/3/library/configparser.html
sql = case
    when amount>20000 then 0
    when (star>=5 or wsl_rank<=25) and ppdai_level in ('A','B','C','D') AND education_method not in ('网络教育','成人','自考','自学考试') and education_level not in ('专科') and cast(rate as int) >=20 then 512
    when  (star>=4  or  wsl_rank<=90) and ppdai_level in ('A','B','C','D') AND education_method not in ('网络教育','成人') and education_level not in ('专科') and cast(rate as int)>=20 then 361
    when star>=5 and ppdai_level in ('A','B','C','D') AND education_method not in ('网络教育','成人') and education_level not in ('专科') and cast(rate as int) >= 20 then 482
    when  (star>=4  or  wsl_rank<=90) and ppdai_level in ('A','B','C','D') AND education_method not in ('网络教育','成人') and education_level not in ('专科') and waiting_to_pay < 4000 and cast(rate as int)=20 then 361
    when  (star>=4  or  wsl_rank<=180) and ppdai_level in ('A','B','C','D') AND education_method not in ('网络教育','成人','自考','自学考试')
    and education_level not in ('专科') and waiting_to_pay < 4000 and cast(rate as int)>=20 then 301
    when waiting_to_get_back >=1000 and ppdai_level in ('A','B','C','D') and cast(rate as int) >= 22 and amount + waiting_to_pay <15000 then 90
    when ppdai_level = 'C' and cast(rate as int) = 22 and age < 40 and cnt_return_less_than_15 * 4 < cnt_return_on_time and cnt_return_on_time > 0 and
    title not like '%闪电%' and education_level is not null and amount + waiting_to_pay <15000 then 222
    else 0 end
start_firefox = 1
rabbitmq_url = amqp://ppdai:ppdai@123.206.203.97