[user]
username = 1234
password = 3456

[postgresql]

[bidding]
# sql is a multiple line value, per the following link,Values can also span multiple lines, as long as they are indented deeper than the first line of the value. 
# https://docs.python.org/3/library/configparser.html
sql = case
    when amount>30000 then 0
    when (star>=5 or wsl_rank<=30) and ppdai_level in ('A','B','C','D') AND education_method not in ('网络教育','成人','自考','自学考试','函授','业余')
          and education_level not in ('专科') and cast(rate as int) >=18 then 512
    when  (star>=4  or  wsl_rank<=90) and ppdai_level in ('A','B','C','D') AND education_method not in ('网络教育','成人','函授','业余')
          and education_level not in ('专科') and cast(rate as int)>=18 then 361
    when star>=5 and ppdai_level in ('A','B','C','D') AND education_method not in ('网络教育','成人','函授','业余') and education_level not in ('专科') and cast(rate as int) >= 18 then 482
    when  (star>=4  or  wsl_rank<=90) and ppdai_level in ('A','B','C','D') AND education_method not in ('网络教育','成人','函授','业余')
          and education_level not in ('专科') and waiting_to_pay < 10000 and cast(rate as int)>=18 then 361
    when  (star>=4  or  wsl_rank<=180) and ppdai_level in ('A','B','C','D') AND education_method not in ('网络教育','成人','自考','自学考试','函授','业余')
          and education_level not in ('专科') and waiting_to_pay < 4000 and cast(rate as int)>=18 then 301
    when waiting_to_get_back >=1000 and ppdai_level in ('A','B','C','D') and cast(rate as int) >= 22 and amount + waiting_to_pay <15000 then 90
    when (school like '%上海%' or school like '%北京%')  and ppdai_level in ('A','B','C','D') AND
         education_method not in ('网络教育','成人','函授','业余') and education_level not in ('专科') and waiting_to_pay < 10000 and cast(rate as int)>=18 then 361
    when ppdai_level = 'AA' and cast(rate as int) >=12 and amount < 3000 and age<=30 then 0
    when ppdai_level = 'C' and cast(rate as int) = 22 and age < 30 and title not like '%闪电%' and education_level is not null and amount + waiting_to_pay <8000 then 160
    else 0 end * 2.0
start_firefox = 1
rabbitmq_url = amqp://ppdai:ppdai@127.0.0.1